.github__card__info__btn{
    @include mobile {
        padding: 0 20px;
    }
    margin-top: 110px;
    button{
        background-color: transparent;
        border: 2px solid $black-color;
        color: $black-color;
        padding: 10px 40px;
        margin-right: 20px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
        @include mobile {
            margin: 0;
            width: 100%;
            margin-bottom: 20px;
        }
        
    }
}