.challenge {
    font-family: $font;
    background-color: $lightgreen-color;
    padding: 80px 0;

    &__title {
        font-size: 32px;
        letter-spacing: 3px;
        text-align: center;
        font-weight: 600;
    }
}