header{
    font-family: 'Roboto', sans-serif;
}

.topbar{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    color: $white-color;
    @include mobile{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    &__myname{
        margin-top: 30px;
        z-index: 10;
        h1{
            text-transform: uppercase;
        }
    }
    
    &__nav{
        margin-top: 30px;
        z-index: 10;
        .topbar__nav__menu{
            display: flex;
            flex-wrap: wrap;
            .topbar__nav__menu__item{
                margin-left: 40px;
                @include mobile {
                    display: none;
                }
                a{
                    text-decoration: none;
                    color: $white-color;
                }
            }
        }
    }
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-top: -46px;
    display: flex;
    align-items: center;
    @include mobile{
        margin-top: -140px;
    }
    &::after {
        content: "";
        position: absolute;                        
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7); 
        z-index: 1;  
    }
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $white-color;
        z-index: 9;
    }

    &__title{
        font-size: 48px;
        font-weight: 600;
        letter-spacing: 5px;

        @include mobile{
            font-size: 32px;
            text-align: center;
        }
    }
    &__subtitle{
        margin-top: 20px;
        font-size: 32px; 
    }
}

.hero__social{
    position: absolute;
    bottom: 40px;
    &__menu{
        display: flex;
        &__item{
            margin-right: 30px;
            @include mobile {
                margin-right: 15px;
            }
        }
        &__link{
            svg{
                path{
                    fill: $white-color;
                }
            }
        }
    }
}